/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
  margin: 0;
}

nav {
  display: none;
  clear: both;
  justify-content: center;
  background: #333;
  flex-direction: column;
}
nav a {
  padding: 1.25em 1.5em;
  color: #ccc;
  background: #555;
  text-decoration: none;
  transition: all 1.5s;
}

.menu {
  background: #555;
  text-align: center;
  color: #fff;
  line-height: 2em;
}
.menu-toggle {
  display: flex;
}

/* comment in for CSS-only solution: */
/* .menu:hover + nav,
nav:hover {
  display: flex;
} */



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: #cfc;
  }
  .menu {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
  }
  /* just change the menu colours on hover above mobile widths */
  nav a:hover {
    color: #dfd;
    background: #797;
  }

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  } 
}